<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="CONN_STR" value="Data Source=sql8020.site4now.net;Database=db_aabe61_qdrmenu;User ID=db_aabe61_qdrmenu_admin;Password=qdrmenu12345@a"/>
		<add key="ENABLE_TICKET" value="1"/>
		<add key="CACHING_ENABLED" value="1"/>
		<add key="MEMCACHED_IP" value="3.140.249.181"/>
		<add key="MEMCACHED_PORT" value="11211"/>
	</appSettings>
</configuration>

